{% extends 'base.html' %}
{% load user_group %}
{% load static %}
{% block title %}
    E-Learning
{% endblock %}
{% block sidebar %}
    {% if user.is_authenticated %}
        {% if request.user|user_info:"Instructors" %}
            <li>
                <a href="{% url 'units_list' %}">My DashBoard</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'view_enrolled_units'%}">Enrolled Units</a>
            </li>
            <li>
                <a href="#">Grades</a>
            </li>
            <li>
                <a href="#!">Finance</a>
            </li>
            <li>
                <a href="{% url 'profile' %}">My Profile</a>
            </li>
        {% endif %}

    {% else %}
        <li>
            <a href="#">Gallery</a>
        </li>
        <li>
            <a href="#">Explore</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>

    {% endif %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-3">Elearning Courses</h1>
      <p>Get exposure to new ideas and concepts that we can use to appreciate and improve the world around us and the world within us. </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="row align-items-md-stretch">
      {% for course in course_list %}
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>{{ course.courses }}</h2>
                <h5 class="card-subtitle mb-2 text-muted">{{ courses.department}}</h5>
                <p>{{ courses.overview | truncatewords:25}}</p>
              <button class="btn btn-outline-secondary"  href="{% url 'course_details' courses.slug %}" type="button">View</button>
            </div>
          </div>
        {% empty %}
            <h3>Courses Unavailable</h3>
        {% endfor %}
    </div>
{% endblock %}