{% extends 'base.html' %}

{% block title %}
    {{ object.courses }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <p><h1 class="card-title">{{ object.courses }}</h1></p>
            <p class="card-subtitle mb-1 text-muted"><b>Department: {{ object.department }}</b></p>
            <div class="mb-1 text-muted"><h4>Units: {{ object.course.count }}</h4></div>
            <p>{{ object.overview }}</p>
            <a class="btn btn-secondary" href="{% url 'list_semester_units' object.id %}" role="button">Checkout Units</a>
        </div>

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0"><em></em>Although eLearning is based on formalized learning, it is provided through electronic devices such as computers, tablets and even cellular phones that are connected to the internet. This makes it easy for users to learn anytime, anywhere, with few, if any, restrictions. Basically, eLearning is training, learning, or education delivered online through a computer or any other digital device.</p>
          </div>
        </aside>
        </div>
    </div>
{% endblock %}