{% extends 'base.html' %}

{% block title %}
    {{ course }} Units
{% endblock %}

{% block sidebar %}


{% endblock %}
{% block  content %}
    <div class="p-5 text-white bg-dark rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{{ course }}</h1>
        <p class="col-md-8 fs-4">{{ course.overview| truncatewords:20 }}</p>
          <a class="btn btn-light" href="{% url 'course_details' course.slug %}" role="button">Continue Reading...</a>
      </div>
    </div>
    <br>
    <div class="container">
        <h3 class="">Available {{ course }} Units</h3>
        <br>
        <div class="row">
            {% for items in units_list %}
                <div class="col-md-4">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h4 class="card-title">{{ items.title }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">By: {{ items.owner.first_name}}  {{ items.owner.last_name }}</h6>
                            <p class="card-text">{{ items.overview | truncatewords:18}}</p>
                            <a href="{% url 'unit_detail_view' items.slug %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Check</a>
                    </div>
                </div>
            {% empty %}
                <h3>Units Unavailable</h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}