{% extends 'base.html' %}

{% block title %}
    {{ course }} Units
{% endblock %}

{% block sidebar %}
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Year 1 </a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Year 2</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Year 3</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Year 4</a>

{% endblock %}
{% block  content %}
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4">{{ course }}</h1>
          <p class="lead my-3">{{ course.overview | truncatewords:10}}</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
    <br>
    <div class="container">
        <h3>Available {{ course }} Units</h3>
        <div class="row">
            {% for items in units_list %}
                <div class="col-md-4">
                    <h4 class="card-title"><u>{{ items.title }}</u></h4>
                    <h6 class="card-subtitle mb-2 text-muted">By: {{ items.owner.first_name}}  {{ items.owner.last_name }}</h6>
                        <p class="card-text">{{ items.overview | truncatewords:18}}</p>
                        <a class="btn btn-light" href="{% url 'unit_detail_view' items.slug %}" role="button">View Details</a>
                </div>
            {% empty %}
                <h3>Units Unavailable</h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}